<h1>CUHK Marketplace</h1>
<p>Front-end and back-end architecture placeholders are ready.</p>
<ul>
  <li><%= link_to "Products", products_path %></li>
  <li><%= link_to "Chats", chats_path %></li>
  <li><%= link_to "Payments", payments_path %></li>
  <li><%= link_to "Listings", listings_path %></li>
  <li><%= link_to "Login", new_session_path %></li>
  <li><%= link_to "Users", users_path %></li>
</ul>
